.chatHeader {
    background-color: #004777;
    color: white;
    padding-left: 30px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    display: flex;
}
