.chatContainer {
    display: flex;
    flex-direction: column;
    background-color: rgb(242, 240, 240);
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    width: 100%;
    height: 100vh;
}

.scrollableArea {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: rgb(107, 103, 103);
    display: flex;
    flex-direction: column;
    max-height: 600px;
}

.horizontalSettings {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wordsLearntToday, .streakDisplay {
    display: flex;
    align-items: center;
    gap: 5px; /* Spacing between icon and text */
    margin-right: 10px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #004777;
}

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .loader {
    border: 4px solid #f3f3f3; /* Light grey border */
    border-top: 4px solid #3498db; /* Blue border */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
  }

  .smallButtonIcon {
    font-size: 24px; /* Adjust this size as needed */
  }
  

